<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM Academy Test Automation Test Suite">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="POM Academy Regression Test Cases">
		<classes>
			<class name="com.pomacademy.qa.testcases.HomePageTest"></class>
			<class name="com.pomacademy.qa.testcases.MyAccountPageTest"></class>
		</classes>
	</test>
</suite>